.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px dashed rgb(120, 202, 235);
  animation: rotates 1s infinite linear;
}

@keyframes rotates {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
