@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

$primary-light-blue: #8db9ed;
$primary-line-color: #ccc;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

.MainApp {
  margin: 20px auto;
  width: 98%;

  @media (max-width: 1250px) {
    width: 97%;
  }

  @media (max-width: 600px) {
    width: 95%;
  }
}

h1 {
  font-family: 'Merriweather', serif;
}

.tags {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    padding: 7px 15px;
    background-color: #e2dfdf;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;

    &:hover {
      border-color: #000;
    }

    &.active {
      background-color: #000;
      color: #fcfcfc;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  margin-top: 10px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hrcss {
  width: 99%;
  color: rgb(177, 177, 173);
}

.headMe {
  background-clip: text;
  background: linear-gradient(to right, rgb(120, 202, 235), rgb(177, 177, 173));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  color: #fcfcfc;
  border-radius: 10px;
  margin: 5px;
  z-index: 1;
  position: relative;
  @media (max-width: 400px) {
    font-size: 25px;
    top: 0px;
  }
}

.topMe {
  font-family: 'Merriweather', serif;
  background-color: #e2dfdf;
  padding: 5px 15px 5px;
  border-radius: 5px;
  z-index: 1;
  margin: 0;
  top: 55px;
  position: relative;
}

h2,
h5,
h6 {
  margin: 0;
}
.names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
}
.postText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.likeView {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 25px;
  border-radius: 100%;
}
.iconLW {
  margin: 0 2px;
  color: #696969;
  &:hover {
    color: rgb(120, 202, 235);
    text-decoration: underline;
  }
}
.statText {
  margin: 0 2px;
  color: #696969;
}

.header {
  display: flex;
  justify-content: center;
}
.best {
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 20px auto;
  background-color: #e2dfdf;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}

.collection {
  max-width: 470px;
  padding: 1px;
  position: sticky;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  h5 {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Merriweather', serif;
  }

  &:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
    transform: translateY(-5px);
  }

  @media (max-width: 1000px) {
    width: 100%;
  }

  img {
    object-fit: cover;
  }

  &__big {
    height: 400px;
    width: 98%;
    margin: 1px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &__bottom {
    display: flex;
    margin: 1px;
    justify-content: space-between;
  }

  &__mini {
    width: 32%;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}

.loaderTop {
  width: 99%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBox {
  background-color: #fcfcfc;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid rgba(158, 196, 21, 0.2);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  h4 {
    font-size: 20px;
    font-family: 'Merriweather', serif;
  }

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  img {
    object-fit: cover;
  }

  &__big {
    height: 390px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 99.5%;
    border-radius: 5px;
  }
}

.topboxA {
  box-shadow: 0 5px 0 #ffd90060;
}
.topboxB {
  box-shadow: 0 5px 0 rgba(143, 143, 143, 0.438);
}
.topboxC {
  box-shadow: 0 5px 0 #cd803279;
}

.menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  &:hover {
    color: rgb(120, 202, 235);
  }
  @media (max-width: 400px) {
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
  }
}
.acc {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  &:hover {
    color: rgb(120, 202, 235);
  }
  @media (max-width: 400px) {
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
  }
}

.tops {
  display: flex;
  margin: 0 5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.soInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  font-size: 16px;
  width: 250px;
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
